# OpenStreetMap PBF extract path
# If the corresponding .drive.fastest.graph.pickle exists, it will be loaded automatically.
OSM_PBF_PATH=map.osm.pbf

# Allowed CORS origins (comma-separated)
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://172.20.10.2:3000

# Logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO

NEXT_PUBLIC_API_URL=http://172.20.10.2:8000
