*.osm
*.pyc

data/
cache/
__pycache__/
venv/
.venv/
*.drive.graph.pickle
*.pickle.tmp
moldova.osm.pbf
moldova.osm.drive.fastest.graph.pickle

moldova.osm.pbf

moldova.osm.drive.fastest.graph.pickle
moldova.osm.pbf
moldova.osm.drive.fastest.graph.pickle
*.osm.pbf
*.graph.pickle
